* {
  font-family: "Montserrat", sans-serif;
}

.bigcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  max-height: 90vw;
  letter-spacing: 5px;
}

h1 {
  font-size: 45px;
  text-align: center;
}

#game-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid black;
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
}

/* #postures {
  min-width: ;
} */

p {
  text-align: center;
  padding: 35px;
  line-height: 200%;
}

input {
  border: 1px solid black;
}
.nameQuestion {
  display: flex;
  flex-wrap: wrap;
  max-width: 70;
  text-align: center;
  align-items: center;
}
.nameInputcontainer {
  padding: 16px;
}

.chooselevel {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  margin-bottom: 0px;
  justify-content: center;
  text-align: center;
}

.choosetext {
  padding: 20px 40px;
  max-width: 300px;
  margin: 25px;
  text-align: center;
}

.level1 {
  flex: 0 1 auto;
  border: 0;
  margin: 25px;
  max-width: 70px;
  box-shadow: 0;
  background: black;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

.level2 {
  flex: 0 1 auto;
  border: 1px solid black;
  max-width: 70px;
  margin: 25px;
  box-shadow: 0;
  background: white;
  color: black;
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

#game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
/* 
#canvas {
  border: 2px solid black;
  max-width: 90vw;
  text-align: center;
} */

#canvas {
  /* display: inline-block; */
  text-align: center;
  border: 1px solid black;
  max-width: 90vw;
  min-width: 60vw;
}
.answer-buttons {
  display: flex;
  width: auto;
  max-height: 100px;
  padding: 20px;
  align-self: center;
}
.counter {
  max-height: 50px;
  border: 0;
  margin-left: 80px;
  box-shadow: 0;
  background: black;
  color: #fff;
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

ul {
  text-align: center;
  align-self: center;
}

li {
  list-style-type: none;
}

.btn {
  top: 0;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
}

.blocked {
  pointer-events: none;
}

#reload {
  display: none;
}

.reloadButton {
  top: 0;
  cursor: pointer;
  pointer-events: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
}

.highscore {
  display: none;
  border: 1px solid black;
  width: 90vw;
  text-align: center;
}
